//Tweak the defaults provided by blueprint
body { width: 100%; color:#FF0000; }
html, body {
      background: #6F6F94;
  }

.header  { color:#FF9100; background-color:#6F6F94; padding:30px; text-align:center; }
.footer  { color:#FF9100; background-color:#6F6F94; padding:30px 0; text-align:center; }
.content { color:#FF9100; background-color:#6F6F94; padding-bottom:60px; }
#sidebar { color:#FF9100; background-color:#6cc; padding-bottom:60px; }

p {font-size:150%}
.smalltext {font-size:1.2em}
H1, H2, H3, P { color:#FF9100 }
